# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan.binary
tfplan.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Checkov
checkov-results.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.pyc
venv/
